@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

:root {
  --col0: #caf0f8;
  --col1: #90e0ef;
  --col2: #00b4d8;
  --col3: #0077b6;
  --col4: #1c1e7b;
  --col5: #03045e;
  --col6: #151019;
  --col7: #0a66c2;
  --col8: #f10fbb;
  --col9: #1ccc5b;
  --col10: #5864ec;
  --nav-time: 0.5s;
  --animation-time: 0.3s;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 12vh;
  width: 100vw;
  color: white;
  animation: nav-load var(--nav-time) ease-in;
  animation-fill-mode: forwards;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1); /* A softer line */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Subtle shadow */
}

.resume-button {
  background-color: #1e3a8a;
  color: var(--col1);
  text-decoration: none;
  border: 2px solid #89cff0;
  border-radius: 5px;
  font-size: 22px;
  transform: translateY(-20px);
  opacity: 0;
  animation: load var(--animation-time) ease-in
    calc(var(--nav-time) + var(--animation-time));
  animation-fill-mode: forwards;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.resume-button:hover {
  background-color: #2563eb;
  color: white;
  cursor: pointer;
}

.resume-button:active {
  background-color: #1d4ed8;
  border-color: white;
}

.nav-links {
  width: 92vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-style {
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.nav-style::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  background-color: var(--col1);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-style:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.logo {
  background-size: cover;
  transform: translateY(-20px);
  opacity: 0;
  animation: load var(--animation-time) ease-in var(--nav-time);
  animation-fill-mode: forwards;
}

.background {
  background-image: url(../public/images/background4.jpg);
  background-size: cover;
  overflow-x: hidden;
  background-position: center center;
  background-attachment: fixed;
}

.body {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 0;
  min-height: 88vh;
}

.heading {
  font-weight: bold;
  color: var(--col0);
  transform: translateY(-20px);
  opacity: 0;
  animation: load var(--animation-time) ease-in var(--nav-time);
  animation-fill-mode: forwards;
}

.title {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.text {
  color: var(--col1);
  font-size: 20px;
  line-height: 1.5;
  transform: translateY(-20px);
  opacity: 0;
  animation: load var(--animation-time) ease-in
    calc(var(--nav-time) + var(--animation-time));
  animation-fill-mode: forwards;
}

.nav-text {
  font-size: 18px;
  animation-delay: var(--nav-time);
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  display: flex;
  justify-content: space-around;
  margin: 7vh;
}

.icon {
  height: 32px;
  width: 32px;
  color: black;
  transition: 0.5s;
  transform: translateY(-20px);
  opacity: 0;
  animation: load var(--animation-time) ease-in
    calc(var(--nav-time) + var(--animation-time));
  animation-fill-mode: forwards;
  color: var(--col0);
}

.linkedin:hover {
  color: var(--col7);
}

.github:hover {
  color: #383434;
}

.email:hover {
  color: var(--col2);
}

.discord:hover {
  color: var(--col10);
}

.instagram:hover {
  color: var(--col8);
}

.spotify:hover {
  color: var(--col9);
}

.about-button-container {
  display: flex;
  justify-content: space-around;
}

.about-button-div {
  transform: translateY(-20px);
  opacity: 0;
  animation: load var(--animation-time) ease-in
    calc(var(--nav-time) + var(--animation-time));
  animation-fill-mode: forwards;
}

.about-button {
  width: 16vw;
  height: 22vh;
  background-size: cover;
  border-radius: 10%;
  transition: 0.25s ease-in-out;
  border: solid rgb(144, 224, 239, 0.5);
}

.about-button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.about-button:active {
  transform: scale(0.95);
}

.badminton-img {
  background-image: url(../public/images/badminton.jpg);
}

.math-img {
  background-image: url(../public/images/math.jpg);
}

.compsci-img {
  background-image: url(../public/images/compsci.jpg);
}

.anime-img {
  background-image: url(../public/images/anime.jpg);
}

.badminton-text {
  position: absolute;
  visibility: hidden;
}

.math-text {
  position: absolute;
  visibility: hidden;
}

.compsci-text {
  position: absolute;
  visibility: hidden;
}

.project-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 80vw;
  height: auto;
  margin: 5vh;
  padding: 3vh 3vw;
  border: solid white;
  border-radius: 10px;
  transform: translateY(-20px);
  opacity: 0;
  animation: load var(--animation-time) ease-in var(--nav-time);
  animation-fill-mode: forwards;
}

.portfolio-date {
  position: absolute;
  top: 3vh;
  left: 2vw;
  color: var(--col0);
  transform: translateY(-20px);
  opacity: 0;
  animation: load var(--animation-time) ease-in var(--nav-time);
  animation-fill-mode: forwards;
}

.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio-button-container {
  display: flex;
  justify-content: space-around;
}

.portfolio-button {
  height: auto;
  min-height: 8vh;
  padding: 10px;
  margin: 0 5px;
  border-radius: 10px;
  background: transparent;
  border: solid white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.portfolio-button:hover {
  background-color: white;
  color: var(--col3);
}

.portfolio-img {
  height: 45vh;
  object-fit: cover;
  border-radius: 10px;
  transform: translateY(-20px);
  opacity: 0;
  animation: load var(--animation-time) ease-in
    calc(var(--nav-time) + var(--animation-time));
  animation-fill-mode: forwards;
}

.portfolio-text {
  text-align: center;
}

.timeline {
  transform: translateY(-20px);
  opacity: 0;
  animation: load var(--animation-time) ease-in var(--nav-time);
  animation-fill-mode: forwards;
}

.timeline-icon {
  object-fit: cover;
  width: 71%;
  height: 65%;
}

@keyframes nav-load {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.bigHeading {
  font-size: 40px;
}

.experience-container {
  justify-content: space-between;
  position: relative;
  width: 70vw;
  margin: 5vh;
  padding: 3vh 3vw;
  border: solid white;
  border-radius: 10px;
  transform: translateY(-20px);
  opacity: 0;
  animation: load var(--animation-time) ease-in var(--nav-time);
  animation-fill-mode: forwards;
}

.experience-img {
  object-fit: cover;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  transform: translateY(-20px);
  opacity: 0;
  animation: load var(--animation-time) ease-in var(--nav-time);
  animation-fill-mode: forwards;
}

.experience-date {
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: var(--col0);
  transform: translateY(-20px);
  opacity: 0;
  animation: load var(--animation-time) ease-in
    calc(var(--nav-time) + var(--animation-time));
  animation-fill-mode: forwards;
}

.experience-skills {
  display: flex;
  align-items: center;
}

.experience-subheading {
  color: var(--col0);
}

.skills-img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.skills-text {
  padding-left: 0.5vw;
}

.homepage-container {
  height: 82vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.homepage-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.homepage-bottom {
  text-align: center;
  width: 50vw;
}

.highlight {
  color: white;
}

.homepage-img {
  object-fit: cover;
  border-radius: 50%;
  transform: translateY(-20px);
  opacity: 0;
  animation: load var(--animation-time) ease-in var(--nav-time);
  animation-fill-mode: forwards;
}

.resume-button-text {
  font-size: 16px;
}
