* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

:root {
  --col0: #caf0f8;
  --col1: #90e0ef;
  --col2: #00b4d8;
  --col3: #0077b6;
  --col4: #03045e;
  --nav-time: 0.5s;
  --animation-time: 0.3s;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 12vh;
  width: 100vw;
  background: var(--col4);
  color: white;
  border-bottom: solid black;
  animation: nav-load var(--nav-time) ease-in;
  animation-fill-mode: forwards;
}

.nav-links {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-style {
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.nav-style::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  background-color: var(--col1);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-style:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.logo {
  width: 5vw;
  height: 10vh;
  background-size: cover;
}

body {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 0;
  min-height: 88vh;
  background: linear-gradient(135deg, var(--col4), var(--col3));
  overflow-x: hidden;
}

.heading {
  font-size: 30px;
  font-weight: bold;
  color: var(--col0);
  margin: 4vh 4vw;
  transform: translateY(-20px);
  opacity: 0;
  animation: load var(--animation-time) ease-in var(--nav-time);
  animation-fill-mode: forwards;
}

.title {
  font-size: 50px;
}

.text {
  color: var(--col1);
  font-size: 20px;
  margin: 3vh 4vw;
  line-height: 1.5;
  transform: translateY(-20px);
  opacity: 0;
  animation: load var(--animation-time) ease-in
    calc(var(--nav-time) + var(--animation-time));
  animation-fill-mode: forwards;
}

.nav-text {
  animation-delay: var(--nav-time);
}

.home {
  text-align: center;
}

.image-grid {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.grid-1 {
  grid-auto-rows: 30vh;
  margin-top: 10vh;
  margin-bottom: 2vh;
}

.grid-2 {
  grid-auto-rows: 60vh;
  margin-bottom: 2vh;
}

.grid-3 {
  grid-auto-rows: 50vh;
  margin-bottom: 10vh;
}

.image-grid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateY(-20px);
  opacity: 0;
  animation: load var(--animation-time) ease-in
    calc(var(--nav-time) + 2 * var(--animation-time));
  animation-fill-mode: forwards;
}

.image-grid-row-2 {
  grid-row: span 2;
}

.image-grid-col-2 {
  grid-column: span 2;
}

.contact {
  display: flex;
  justify-content: space-around;
  margin: 7vh;
}

.icon {
  font-size: 5vw;
  color: black;
  transition: 0.5s;
  transform: translateY(-20px);
  opacity: 0;
  animation: load var(--animation-time) ease-in
    calc(var(--nav-time) + 2 * var(--animation-time));
  animation-fill-mode: forwards;
}

.icon:hover {
  color: var(--col0);
}

.about-button-container {
  display: flex;
  justify-content: space-around;
}

.about-button {
  width: 16vw;
  height: 22vh;
  background-size: cover;
  border-radius: 10%;
  transform: translateY(-20px);
  opacity: 0;
  animation: load var(--animation-time) ease-in
    calc(var(--nav-time) + var(--animation-time));
  animation-fill-mode: forwards;
}

.about-button:hover {
  cursor: pointer;
  transform: translateY(5px);
}

.about-button:active {
  transform: translateY(-5px);
}

.badminton-img {
  background-image: url(../public/images/badminton.jpg);
}

.math-img {
  background-image: url(../public/images/math.jpg);
}

.compsci-img {
  background-image: url(../public/images/compsci.jpg);
}

.anime-img {
  background-image: url(../public/images/anime.jpg);
}

.badminton-text {
  position: absolute;
  visibility: hidden;
}

.math-text {
  position: absolute;
  visibility: hidden;
}

.compsci-text {
  position: absolute;
  visibility: hidden;
}

.project-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 90vw;
  margin: 5vh;
  padding: 3vh 3vw;
  border: solid white;
  border-radius: 10px;
  transform: translateY(-20px);
  opacity: 0;
  animation: load var(--animation-time) ease-in var(--nav-time);
  animation-fill-mode: forwards;
}

.description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 36vw;
}

.portfolio-button-container {
  display: flex;
  align-items: center;
}

.portfolio-button {
  height: 10vh;
  width: 11vw;
  margin: 1vh;
  border-radius: 10px;
  background: transparent;
  border: solid white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.portfolio-button:hover {
  background-color: white;
  color: var(--col3);
}

.portfolio-img {
  object-fit: cover;
  height: 50vh;
  width: 45vw;
  border-radius: 10px;
  transform: translateY(-20px);
  opacity: 0;
  animation: load var(--animation-time) ease-in
    calc(var(--nav-time) + var(--animation-time));
  animation-fill-mode: forwards;
}

.portfolio-text {
  text-align: center;
}

.timeline {
  transform: translateY(-20px);
  opacity: 0;
  animation: load var(--animation-time) ease-in var(--nav-time);
  animation-fill-mode: forwards;
}

@keyframes nav-load {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
